.body{
    display: grid;
    grid-template-columns: 375px;
    grid-template-rows: 550px 493px 336px ;
    font-family: 'Big Shoulders Display', cursive;
    
    
}

/* first section xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
.map-mobile{
    position: absolute;
}
.map-tablet{
    display: none;
}
.map-desktop{
    display: none;
}

.button{
    width: 204px;
    height: 72px;
    background-color: #151515;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    margin-left: 3.5rem;
    position: absolute;
}
.image{
    position: absolute;
    width: 56px;
    height: 72px;
    
}
.map{
    position: relative;
    
    
}

/* second secton xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.second{
    background-color: black;
    color: white;
    padding: 3rem 1rem 3.5rem 1rem;

}

.tittle{
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    margin-bottom: 3rem;
}
.tittle-2{
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 32px;
    text-transform: uppercase;
    color: #D5966C;
    margin-bottom: 1.3rem;
}
.paragraph-1{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 1.3rem;
}
.paragraph-2{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
}

/* footer section   xxxxxxxxxxxxxxxxxxxxxxxxxx*/
footer{
    background-color: rgba(213, 150, 108, 1);
    padding: 3rem 2rem ;
    /* color: black; */
    
}
.footer-title{
    font-size: 26px;
    font-weight: 900;
}
.footer-p{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    margin: 2.3rem 0;
}
.icon{
    margin-right: 1.25rem;
    color: rgba(21, 21, 21, 1);
}
svg path{
    fill: black;
}
/* starting tablet version wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww*/
@media screen and (min-width: 375px) {
    .body{
        display: grid;
        grid-template-columns: 768px;
        grid-template-rows: 600px 436px 216px;
    }
    /* map photo */
    .map-mobile{
        display: none;
    }
    .map-tablet{
        display: inline;
        position: absolute;
    }
    .button{
        left: 2.5rem;
    }
    .image{
        left: 2.5rem;
    }
    /* second section xxxxxxxxxxxxxxxxxxx*/
    .tittle{
        display: inline-block;
        position: absolute;
        width: 223px;

    }
    .tittle2-div{
        display: block;
        width: 398px;
    }
    .second{
        display: flex;
        justify-content: space-between;
        padding: 5.5rem 2.6rem 5rem 2.6rem;

    }
    /* footer section  */
    footer{
        display: flex;
        justify-content: space-evenly;
        align-items:flex-start ;
        padding: 3.5rem 2.6rem 3.5rem 2.6rem;
    }
    .footer-p{
        width: 17rem;
        margin: 0;
    }
    .footer-title{
        width: 8rem;
    }
}
/* starting desktop version  wwwwwwwwwwwwwwwwwwwwwwwwwwww */
@media screen and (min-width: 768px) {
    .body{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 600px 548px 244px;

    }
    .map-tablet{
        display: none;
    }
    .map-desktop{
        display: inline;
        width: 100%;
    }
    .image{
        left: 156px;
    }
    .button{
        left: 156px;
    }
    /* second section xxxxxxxxxxxxxxxxxxxxx */
    .tittle{
        font-size: 70px;
        line-height: 70px;
    }
    .second{
        padding: 6.5rem 10rem 7rem 10rem;
        display: flex;
        justify-content: space-between;
    }
    /* footer section xxxxxxxxxxxxxxxxxxxxx */
    .footer-p{
        width: 430px;
    }
    .footer-title{
        width: 10rem;
        font-size: 32px;
    }
}
