.body{
    font-family: 'Big Shoulders Display', cursive;
    font-style: normal;
    background-color: white;
}

/* section first include hero photo heading and paragrap */
.tablet-hero{
    display: none;
}
.desktop-hero{
    display: none;
}
.first-section{
    
    width: 343px;
    
}
.heading-1{
    
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 55px;
    text-transform: uppercase;
    color:  Black;
    margin-bottom: 32px;
    margin-top: 32px;
    
}
.text1,
.text11{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
    margin-bottom: 32px;
}
/* button parametrs */
button{
    width: 204px;
    height: 72px;
    background-color: #151515;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 120px;

}
.button-icon{
    display: flex;
    align-items: flex-start;
}
/* start second section  xxxxxxxxxxxxxxxxxxxxxxxxxx*/
.second-section{
    width: 343px;
}
.heading2{
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 55px;
    text-transform: uppercase;
    color:  Black;
    margin-bottom: 32px;
}
/* second section picture first picture grids */
.mobile-first-grid{
    display: inline;
}
.tablet-first-grid{
    display: none;
}
.desktop-first-grid{
    display: none;
}

/* picture second picture grids */
.mobile-second-grid{
    display: inline;
}
.tablet-second-grid{
    display: none;
}
.desktop-second-grid{
    display: none;
}
/* picture third picture grids */
.mobile-third-grid{
    display: inline;
}
.tablet-third-grid{
    display: none;
}
.desktop-third-grid{
    display: none;
}

/* last box */
.last-box{
    background-color: black;
    margin-bottom: 120px;
}
.heading-3{
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    color: #FFFFFF;
}
.text3{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: white;
}


/* starting to ad grid */
.all-thing {
    margin: 0 1rem ;
    display: grid;
    gap: 1rem;
    grid-template-columns: 343px;
    grid-template-rows: 1fr;
}
/* footer section */
footer{
    background-color: rgb(8, 8, 8);
    width: 375px;
    padding: 3rem 2rem ;
    
}
.footer-title{
    
    font-size: 30px;
    font-weight: 900;
    color: white;
    

}
.footer-p{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: white;
    margin: 2.3rem 0;
}
.twiter{
    margin-right: 1.25rem;
    
}
/* starting tablet version wwwwwwwwwwwwwwwwwwwwwwwwww */
@media screen and (min-width: 375px) {
    .body{
        width: 53.3%;
    }
    /* first section   */
    .mobile-hero{
        display: none;
    }
    .tablet-hero{
        display: block;
        position: absolute;
        margin-bottom: 120px;
        
        
    }
    .button-icon{
        margin-bottom: 11rem;

    }
    .first-section{
        position: relative;
        left: 100%;
        top: 30%;
        
    }
    /* sectioon  */
    .section1{
        margin-top: 8rem;
        padding: 0 2.6rem 0 2.6rem ;
        display: grid;
        gap: 0.7rem;
        grid-template-columns: auto auto;
        grid-template-rows: 3fr;
    }
    /* second section  */
    .second-section{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        width: 100%;
        grid-column: span 2;
    }
    /* picture section */
    .mobile-first-grid{
        display: none;
    }
    .tablet-first-grid{
        display: inline;
    }
    /* second picture */
    .mobile-second-grid{
        display: none;
    }
    .tablet-second-grid{
        display: inline;
        grid-row: 2 / span 2;
    }
    /* third picture */
    .mobile-third-grid{
        display: none;
    }
    .tablet-third-grid{
        display: inline;
       
    }
    .last-box{
        height: 396px;
        width: 280px;
        
        padding: 5.4rem 1.9rem 0 1.9rem;
        
    
        
        
    }
    footer{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    .footer-p{
        width: 281px;
    }
    .footer-title{
        width: 110px;
        font-size: 23px;
    }
    
}
@media screen and (min-width: 768px) {
        .body{
            width: 100%;

        }
        /* first section include hero picture and tittle */
        .tablet-hero{
            display: none;

        }
        .desktop-hero{
            display: inline;
        }
        .hero{
            display: flex;
            justify-content: flex-end;
            flex-direction: row-reverse;
            position: absolute;
        }
        .div{
            background-color: #151515;
            width: 450px;
            height: 799px;

        }
        .heading-1{
            
            top: -75px;
            left: -195px;
            font-size: 96px;
            width: 512px;
            height: 176px;
            line-height: 88px;
            font-weight: 900;
            color: white;
            mix-blend-mode: difference;
            position: relative;

            
        }
        /* span{
            color: black;
        } */
        .text11, .button-icon{
            left: 575px;
            top: -290px;
            position: relative;
        }
        .text11{
            font-size: 22px;
            width: 350px;
            line-height: 32px;
        }
        /* starting second section */
        .tablet-first-grid{
            display: none;
        }
        .desktop-first-grid{
            display: inline;
        }
        .section1{
            margin-top: 10.4rem;
            padding: 0 10.25rem 0 10.25rem;
            width: 100%;
            gap: 1.9rem;


        }
        .heading2{
            width: 350px;
            font-weight: 900;
            font-size: 60px;
            line-height: 60px;
            text-transform: uppercase;

        }
        .text1{
            font-weight: 300;
            font-size: 22px;
            line-height: 32px;
            width: 350px;
        }
        /* picture section */
        .tablet-second-grid,
        .tablet-third-grid{
            display: none;
        }
        .desktop-third-grid{
            display: inline;
        }
         .desktop-second-grid{
            display: inline;
            grid-row: 2 / span 2;
        }
        /* last box */
        .last-box{
            width: 445px;
            height: 377px;
        }
        .heading-3{
            font-size: 60px;
            line-height: 60px;
            margin-bottom: 2rem;

        }
        .text3{
            font-size: 22px;
            line-height: 32px;
        }
        /* footer  section */
        footer{
            padding: 5rem 10rem;
            width: 100%;
        }
        .footer-title{
            font-size: 30px;
            width: 159px;

        }
        .footer-p{
            width: 430px;
            font-weight: 300;
            font-size: 18px;
            line-height: 28px;
        }
}